SUPABASE_URL=https://ddprkbrjnbeykskuezcq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkcHJrYnJqbmJleWtza3VlemNxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ2MjYyNCwiZXhwIjoyMDgxMDM4NjI0fQ._Qux0gvY6Byv-G-86SnQSXXUkjyBxc4v8BefSo9mjkM
